/RCCredentialTypeProxy.java
/RCFaultEmergencyLevelProxy.java
/RCFaultLevelColorAdaptorProxy.java
/RCFaultLevelProxy.java
/RCFaultReportSourceProxy.java
/RCMaterialBrandProxy.java
/RCOutStockTypeProxy.java
/RCSequenceConfigProxy.java
/RCSystemParameterProxy.java
/RCWorkTypeProxy.java
