/RCWorkItemTaskProxy.java
/RCRepairTaskProxy.java
/RCEmployeeProxy.java
/RCEmployeeUserProxy.java
/RCEnterpriseProxy.java
/RCFaultTypeProxy.java
/RCMaintenamceTypeProxy.java
/RCMaintenanceTeamProxy.java
/RCOnsitePositionProxy.java
/RCOrganizationProxy.java
/RCRepairReportUserProxy.java
/RCRoleAssignmentProxy.java
/RCSupplierProxy.java
