/.Commands.java._trace
/.BaseCommand.java._trace
/.BaseContextAwareMultiObjectCommand.java._trace
/.BaseContextAwareSingleObjectCommand.java._trace
/.BaseSimpleCommand.java._trace
/.BaseValueCommand.java._trace
